
body {
    background-color: #15151a;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#wrapper {
    width: 800px;
    margin: auto;
}

#main-content {
    background: rgb(250, 245, 245);
    padding: 20px;
}

p.fist-paragraph strong {
    color: rgb(187, 4, 4)
}

div.image-wrapper img {
    width: 100%; 
}

nav a strong {
    font-size: x-large;
    color: white;
}

nav a #logo {
    background-color: black;
}

nav #first {
    color: white;
    padding-left: 20px;
    padding-right: 5px;
    font-size: larger;
}
nav div a {
    align-self: self-end;
    color: white;
    padding: 5px;
    font-size:larger;
}

.d-block .w-100 {
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: flex;
  
}