
body {
    background-color:rgb(14, 12, 12);
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 800px;
    margin: auto;
}

#main-content {
    background: rgb(250, 245, 245);
    padding: 20px;
}

p.fist-paragraph strong {
    color: green
}

div.image-wrapper img {
    width: 100% 
}

p span strong {
    color: red
}

nav a strong {
    font-size: x-large;
    color: white;
}

nav #navbar {
    background-color: black;
}